In [2]:
A= ' PAPAN '
A

' PAPAN '

In [3]:
print(b)

NameError: name 'b' is not defined

In [4]:
#single variable assignments
x = 30
x

30

In [5]:
type(x)

int

In [6]:
type(y)

NameError: name 'y' is not defined

In [7]:
a = 'PAPAN'
a

'PAPAN'

In [8]:
ia= 80
ia

80

In [9]:
c = "55"
c

'55'

In [10]:
type(c)

str

In [11]:
bc = "33x"
bc

'33x'

In [12]:
type(bc)

str

In [13]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
len(keyword.kwlist)

35

In [15]:
True = "3326"
True

SyntaxError: cannot assign to True (2265923158.py, line 1)

In [16]:
x1 = 57
x1

57

In [17]:
1y = 35
1y

SyntaxError: invalid decimal literal (2634145743.py, line 1)

In [18]:
y$5 =77
y$5

SyntaxError: invalid syntax (3992868082.py, line 1)

In [19]:
a_3 = 356
a_3

356

In [20]:
#storage location
id(a_3)

1727454478544

In [21]:
u = 500
u
id(u)

1727454478736

In [22]:
u =555
id(u)

1727454481776

In [23]:
b = 57
c = 43
id(b)

140724445956648

In [24]:
id(c)

140724445956200

In [25]:
d = 78
id(d)

140724445957320

In [26]:
x = 30
y = 20
sum = x+y
print("The summation of two numbers are ",sum)

The summation of two numbers are  50

In [27]:
x = 25
y = 35
sum = x+y
print("The summation of two numbers are sum",sum)

The summation of two numbers are sum 60

In [28]:
"The summation of two numbers are",sum

('The summation of two numbers are', 60)

In [29]:
sum

60

In [30]:
x = y = z =10
x

10

In [31]:
y

10

In [32]:
z

10

In [35]:
x= 88
y= 75
z= 95
xyz = 258
print(x,y,z)

88 75 95

In [36]:
print(xyz)

258

In [37]:
x = 88
print(x)

88

In [38]:
#delete Element
del(x)

In [39]:
print(x)

NameError: name 'x' is not defined

In [40]:
c=55
d=67
e=78
del c,d

In [41]:
print(e)

78

In [42]:
1x= 56

SyntaxError: invalid decimal literal (3558662868.py, line 1)

In [43]:
a@1=80

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4164516970.py, line 1)

In [44]:
#multiple variable assignments
u=10
v=20
w=30
print(u,v,w)

10 20 30

In [46]:
u,v,w=10,20,30
print(u,v,w)

10 20 30

In [47]:
u = v= w= "IOT"
w

'IOT'

In [48]:
print(v)

IOT

In [49]:
print(3)

3

In [50]:
print("krishna")

krishna

In [52]:
print("ahdtrggdkms  34!@#$")

ahdtrggdkms  34!@#$

In [53]:
b=33
print(b)

33

In [54]:
krishna=12
print(krishna)

12

In [55]:
print("krishna")

krishna

In [57]:
a=5
print(a)
type(a)

5

int

In [58]:
x='10'
print(x)
type(x)

10

str

In [59]:
x=5
y=25
z=x+y
print(z)

30

In [60]:
x=5
y=5
print(x+y)

10

In [61]:
print(5+5)

10

In [66]:
g=20
h=30
i=10
j=40
print(g,h,i,j, sep=":")

20:30:10:40

In [67]:
g=20
print("the value of g : ",g)

the value of g :  20

In [68]:
first_name='papan'
last_name='krishna'

In [69]:
print("Name",last_name,first_name)

Name krishna papan

In [70]:
print("My first name is:",first_name,"and last_name is:",last_name)

My first name is: papan and last_name is: krishna

In [71]:
print("my first name is: {} and last name is: {}".format(first_name,last_name))

my first name is: papan and last name is: krishna

In [72]:
print("my first name is: {first} and last name is: {first}".format(last=last_name,first=last_name))

my first name is: krishna and last name is: krishna

In [73]:
print("Hii {name} {greeting} {name}".format(name="silon",greeting="Good Evening"))

Hii silon Good Evening silon

In [74]:
num=20
name='sai'
print('my number is : {one} and my name is: {two}'.format(one=num,two=name))
print('my number is :{} and my name is : {}'.format(num,name))
print("my number is :",num,"and my name is:",name)

my number is : 20 and my name is: sai
my number is :20 and my name is : sai
my number is : 20 and my name is: sai

Enter the value of a:  submit

ValueError: invalid literal for int() with base 10: 'submit'

In [2]:
n1=input("enter your age:")
n1

enter your age: 22

'22'

In [3]:
type(n1)

str

In [4]:
n=float(input("enter your age:"))
n

enter your age: 25

25.0

In [5]:
name=input("what is your name? ")
print("it was nice talking you  " + name + "!")

what is your name?  srinibas

it was nice talking you  srinibas!

In [6]:
age = input("enter your age?")
print("Hey,you are already " + age + " years old, " + "!")

enter your age? 22

Hey,you are already 22 years old, !

In [8]:
var_1,var_2 = input("enter your name: ").split(" ")
print(var_1)
print(var_2)

enter your name:  papan banti

papan
banti