In [1]:
#Import Libraries
#import numpy
import numpy as np

In [2]:
#importing pandas Library
import pandas as pd

In [4]:
#Create pandas series
x = {'a': 2, 'b': 4, 'c': 6}
ser = pd.Series(data = x)
ser

a    2
b    4
c    6
dtype: int64

In [6]:
x = {'a': 4, 'b': 8, 'c': 12 }
ser = pd.Series(data = x, index=['a','e','c'])
ser

a     4.0
e     NaN
c    12.0
dtype: float64

In [8]:
l =['Apple',44]
s = pd.Series(data = l)
print(s)

0    Apple
1       44
dtype: object

In [9]:
s = pd.Series(['Apple',44],index=['a','b'])
print(s)

a    Apple
b       44
dtype: object

In [5]:
import pandas as pd

In [6]:
s = pd.Series(['Wes McKinney', 'Creator of pandas'],index=['person','who'])
print(s)

person         Wes McKinney
who       Creator of pandas
dtype: object

In [7]:
#Creating a list of prices.
pricelist = [100,200,300,400]

#Creating a series.
productseries=pd.Series(pricelist)

#Displaying the series.
print(productseries)

0    100
1    200
2    300
3    400
dtype: int64

In [8]:
# Constructing a DataFrame from a Dictionary
scientists = pd.DataFrame({
'Nmae': ['Rosaline Franklin','william Gosset'],
'Occupation': ['Chemist', 'Statistician'],
'Born': ['1920-07-25' , '1876-06-13'],
'Died': ['1958-04-16', '1937-10-16'],
'Age': [37,61]})

#Displaying the data frame
print(scientists)

                Nmae    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     william Gosset  Statistician  1876-06-13  1937-10-16   61

In [4]:
import pandas as pd

In [6]:
#Creating DataFrame using a list
productdf = pd.DataFrame([[100,200,300,400],[2,4,5,7]],columns=['pens','shirt','Book','Mouse'])

#Displaying the data frame
print(productdf)

   pens  shirt  Book  Mouse
0   100    200   300    400
1     2      4     5      7

In [7]:
#Attributes
#displaying the dimensions of the data frame using shape.
productdf.shape

(2, 4)

In [8]:
#displaying the size of the data frame using size. 
productdf.size

8

In [9]:
#Displaying the name of the columns using keys() function.
productdf.keys()

Index(['pens', 'shirt', 'Book', 'Mouse'], dtype='object')

In [10]:
productdf.columns

Index(['pens', 'shirt', 'Book', 'Mouse'], dtype='object')

In [11]:
#adding column
#adding column named "Mobile" to the data frame.
productdf["Mobile"] = [20000,2]
productdf

   pens  shirt  Book  Mouse  Mobile
0   100    200   300    400   20000
1     2      4     5      7       2

In [12]:
#Deleting multiple columns from the data frame using drop() function.
df2 = productdf.drop("Mobile",axis=1)
df2

   pens  shirt  Book  Mouse
0   100    200   300    400
1     2      4     5      7

In [13]:
#deleting  multiple columns from the data frame using drop() function.
df2 = productdf.drop(columns= ["Mobile"])
df2

   pens  shirt  Book  Mouse
0   100    200   300    400
1     2      4     5      7

In [14]:
df2 = productdf.drop(columns=["Mobile","Book"])
df2

   pens  shirt  Mouse
0   100    200    400
1     2      4      7

In [15]:
productdf = productdf.drop(columns=["Mobile"])
productdf

   pens  shirt  Book  Mouse
0   100    200   300    400
1     2      4     5      7

In [17]:
#Deleting row from the data frame
df3=df2.drop(index=[0])
df3

   pens  shirt  Mouse
1     2      4      7

In [22]:
#Combining Dataframes
#Append
#creating a new data frame
productdf2= pd.DataFrame([[14,15,17,18],[4,5,7,9]],columns=['pen','shirt','Book','Mouse'])
productdf2

   pen  shirt  Book  Mouse
0   14     15    17     18
1    4      5     7      9

In [30]:
#Adding rows to the data frame by adding other data frame.
df5 = productdf.append(productdf2)
df5

ModuleNotFoundError: No module named 'Append'

In [25]:
#Creating a new dataframe
productdf3= pd.DataFrame([[15,16,17,18],[5,6,7,8]],columns=['pens','Shirt','Book','Mouse'])
productdf3

   pens  Shirt  Book  Mouse
0    15     16    17     18
1     5      6     7      8

In [26]:
productdf.append(productdf3)

AttributeError: 'DataFrame' object has no attribute 'append'

In [31]:
#Concatenate
india_weather = pd.DataFrame({
"city":["mumbai","delhi","bangalore"],
"temperature": [32,45,30],
"Humidity":[80,60,78]
})
india_weather

        city  temperature  Humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [35]:
 us_weather = pd.DataFrame({
"city":["new york","chicago","orlando"],
"temperature": [22,14,35],
"Humidity":[68,65,75]
})
us_weather

       city  temperature  Humidity
0  new york           22        68
1   chicago           14        65
2   orlando           35        75

In [36]:
#concate two dataframes
df = pd.concat([india_weather, us_weather])
df

        city  temperature  Humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           22        68
1    chicago           14        65
2    orlando           35        75

In [2]:
import pandas as pd

In [3]:
#if you want continuous index
df = pd.concat([india_weather,us_weather],ignore_index=True)
df

NameError: name 'india_weather' is not defined

In [4]:
df = pd.concat([india_weather,us_weather],axis=0)
df

NameError: name 'india_weather' is not defined

In [5]:
#Merging of DataFrame
temperature_df = pd.DataFrame({
"city": ["mumbai","delhi","banglore",'hyderabad'],
"temperature": [32,45,30,40]})

temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2   banglore           30
3  hyderabad           40

In [9]:
humidity_df = pd.DataFrame({
"city": ["Bhadrak","Jajpur","Balesore"],
"humidity": [68,60, 55]})
humidity_df

       city  humidity
0   Bhadrak        68
1    Jajpur        60
2  Balesore        55

In [14]:
# merge two dataframes with  out explicitly mention index
df = pd.merge(temperature_df, humidity_df, on='city')
df

Empty DataFrame
Columns: [city, temperature, humidity]
Index: []

In [15]:
#OUTER-JOIN
df = pd.merge(tempperature_df,humidity_df,on='city',how='outer')
df

NameError: name 'tempperature_df' is not defined

In [2]:
import pandas as pd

In [6]:
#import data
df = pd.read_csv("Indian Liver Patient.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Indian Liver Patient.csv'

In [5]:
# The data type of each column.
df.dtypes

NameError: name 'df' is not defined

In [20]:
df = pd.read_csv("Indian Liver Patient.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Indian Liver Patient.csv'

In [21]:
# we use the head function so python only  shows us the first 5 rows
df.head()

TypeError: NDFrame.head() missing 1 required positional argument: 'self'

In [22]:
df.tail()

TypeError: NDFrame.tail() missing 1 required positional argument: 'self'

In [23]:
df.shape

In [24]:
df.size

In [25]:
df.columns

In [26]:
df.info()

TypeError: DataFrame.info() missing 1 required positional argument: 'self'

In [27]:
#total number of missing values in each column
df.isnull().sum()

TypeError: DataFrame.isnull() missing 1 required positional argument: 'self'

In [6]:
df.describe(1)

NameError: name 'df' is not defined

In [2]:
df.describe(include='all')

ModuleNotFoundError: No module named 'DataFrame'

In [3]:
print(df.describe())

NameError: name 'df' is not defined

In [4]:
# just  get the TB column and save it to its own variable
df['TB']

NameError: name 'df' is not defined