In [2]:
#Loop concept
#For loop
seq = [2,4,6,8,10]
for i in seq:
    print(i)

2
4
6
8
10

In [3]:
seq = [1,3,5,7,9]
for item in seq:
    print(item)

1
3
5
7
9

In [11]:
fruits = ['apple','banana','mango','orange']
 for x in fruits:
     print(x)

IndentationError: unexpected indent (3362658885.py, line 2)

In [13]:
fruits = ['apple','banana','mango','orange']
for x in fruits:
     print(x)

apple
banana
mango
orange

In [14]:
list1 = [2,4,6,8,10]
for i in list1:
    print(i,end='')

246810

In [15]:
a="1234"
for char in a:
    print(char,end='')

1234

In [21]:
for y in range(5):
    print(y,"Hii papan")

0 Hii papan
1 Hii papan
2 Hii papan
3 Hii papan
4 Hii papan

In [22]:
for i in range(0,20):
    print(i,end='')

012345678910111213141516171819

In [3]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [5]:
for i in range(100,1,-5):
    print(i,end=' ')

100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25 20 15 10 5

In [7]:
for i in range (10,52,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [8]:
for i in range (10,52,2):
    print(i,end=' ')

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [10]:
items = ['item1','item2','item3','item4','item5']
for i in range(len(items)):
    print("item at index",i,"is: ", items[i])

item at index 0 is:  item1
item at index 1 is:  item2
item at index 2 is:  item3
item at index 3 is:  item4
item at index 4 is:  item5

In [12]:
#To print sum of n whole numbers

x = [2,4,6,8]
sum1=0 #initialization

for i in x:
    sum1=sum1+i
print("sum:",sum1)

sum: 20

In [25]:
#To print sum of n whole numbers
x = [2,4,6,8]
sum1=0 #initialization
for i in x:
    sum1=sum1+i
print("after", i,"iteration the sum:",sum1)

after 4 iteration the sum: 6

In [30]:
genre = ['papan','banti','subham','suraj']
for i in range(1):
    print("I like",genre[i])

I like papan

In [31]:
lb=int(input('enter the lower bound values:'))
ub=int(input('enter the upper bound values:'))
for i in range (lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter the lower bound values: 20
enter the upper bound values: 30

20,22,24,26,28,30,

In [38]:
a=int(input("enter the number:"))
for i in range(a):
     print("*",end=" ")

enter the number: 5

* * * * *

In [39]:
lb=int(input())
ub=int(input())
s=0

for i in range(lb,ub+1):
    if i%2==0:
        s=s+i
        print(i,end=' ')

print('\n sum is',s)

 5
 15

6 8 10 12 14
 sum is 50

In [43]:
for num in range(1,110):
 if num%5==0 and num%7!=0:
    print(num,end=' ')

5 10 15 20 25 30 40 45 50 55 60 65 75 80 85 90 95 100

In [20]:
a=int(input('enter the multiplication table'))
for i in range(1,15):
    print(a,"*",i,"=",a*i)

enter the multiplication table 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144
12 * 13 = 156
12 * 14 = 168

In [46]:
n=int(input("enter the number:"))
for i in range(n):
    for j in range(n+1):
        print("*",end=" ")

enter the number: 3

* * * * * * * * * * * *

In [1]:
num = int(input("Enter a number :"))
fact = 1
a = 1
while(a<=num):
    fact = fact*a
    a = a+1
print("The factorial of",num,"is",fact)

Enter a number : 5

The factorial of 5 is 120

In [2]:
#without list comprehension
squares = []

for i in range(5):
    squares.append(i**2) #list append
print(squares)

[0, 1, 4, 9, 16]

In [4]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
movies = ['Departed','Titanic','Aviator','Avatar','2012']
[len(movie) for movie in movies]

[8, 7, 7, 6, 4]

In [7]:
list2 = [-2,-4,-6,-8,-5,-3]
absv = [abs(x) for x in list2]
absv

[2, 4, 6, 8, 5, 3]

In [8]:
list2 = [-2,-4,-6,-8,-5,-3]
both =[]
for x in list2:
    if x < 0:
        both.append(abs(x))
    else:
        both.append(x**3)
both

[2, 4, 6, 8, 5, 3]

In [9]:
[abs( x) if x<0 else x**3 for x in list2]

[2, 4, 6, 8, 5, 3]

In [1]:
#set comprehension
movies = ['Departed','Titanic','Aviator','Avator','2015']

a=set()
for i in movies:
    a.add(len(i))
a

{4, 6, 7, 8}

In [2]:
movies = ['Departed','Titanic','Aviator','Avator','2015']
{len(i) for i in movies}

{4, 6, 7, 8}

In [5]:
#Enumurate
movies = {'Departed':9,'Titanic':9.2,'Aviator':8.7,'Avator':9.1,'2015':8.6}
{movie:rating for movie,rating in enumerate(movies)}

{0: 'Departed', 1: 'Titanic', 2: 'Aviator', 3: 'Avator', 4: '2015'}

In [8]:
#break statement
numbers = [1,2,3,4,5]
for num in numbers:
    if num== 4:
        break
        print(num)

In [9]:
#print odd numbers prsent in a list
numbers = [1,2,3,4,5]

for num in numbers:
    if num % 2== 0:
        continue
    print(num)

1
3
5

In [1]:
#for loop with else
numbers = [1,2,3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [2]:
numbers = [1,2,3,4,5,6,7,8]

for item in numbers:
    if item % 2==0:
        print(item)

2
4
6
8

In [3]:
numbers = [1,2,3,4,5,6,7,8]

for item in numbers:
    if item % 2==0:
        print(item)
        break

2

In [4]:
#while loop
x = 1

while x<6:
    x=x+1
    print(x)

2
3
4
5
6

In [6]:
x = 1
while x<6:
    print("x is",x)
    x=x+1

x is 1
x is 2
x is 3
x is 4
x is 5

In [7]:
x = 6
while x>1:
    print("x is {}".format(x))
    x -=1

x is 6
x is 5
x is 4
x is 3
x is 2

In [8]:
i=50
s=20

while i<=200:
    s=s+i
    i=i+50

print(s)

520

In [9]:
i=0
s=0

while(i<=5):
    s=s+i
    i+=2

print(s)

6

In [10]:
x=0

print(x)

while x < 5:
    x=x+1

print(x)

0
5

In [11]:
i=0
s=0
while(i<=10):
    s=s+i
    i+=2
print(s)

30

In [17]:
#program to print 0 to 100 (inclusive) whole numbers
i=0
while(i<50):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [18]:
#program to "n" add natural numbers --> sum = 1+2+3+....+n

n=int(input("Enter n:"))
sum = 1
i = 2

while i<=n:
    sum=sum+i
    i=i+1

print("The sum is",sum)

Enter n: 4

The sum is 10

In [19]:
#find the product of all numbers present in a list
lst = [1,2,3,4,5]
product=1
index=0

while index < len(lst):
    product *= lst[index]
    index += 2

print("product is: {}".format(product))

product is: 15

In [4]:
#Ask the use to enter the numbers and sum it
s=0
while True:
    a=input('enter a value:')
    if (a=='done'):
        break
     s=s+int(a)

print(s)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [9]:
#while loop with else
x = 6
while x > 1:
    print("x is {}".format(x))
    x -= 1
    if x==9:
        break
else:
    print("x is no longer greater than 1")

x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [11]:
x = 0
while x<6:
    print("x is {}".format(x))
    x +=1
else:
    print("x is no longer < 6")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is no longer < 6

In [12]:
numbers = [1,2,3,4,5,6]

index = 0
while index < len(numbers):
    print(numbers[index])
    index +=1

else:
    print("no item left in the list")

1
2
3
4
5
6
no item left in the list

In [21]:
#write a program which can compute the factorial of a given numbers.
a=int(input())
fact=1
for i in range(a,0,-1):
    fact=fact*i
print(fact)

 5

120

In [14]:
a=int(input())
fact=1
for i in range(1,a+1):
    fact=fact*i
    print("after",i,"iteration the factorial value is:",fact)

 5

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 2
after 3 iteration the factorial value is: 6
after 4 iteration the factorial value is: 24
after 5 iteration the factorial value is: 120

100

(1, 2)

None